/* * {
  box-sizing: border-box;
} */
body {
  margin: 0;
  padding: 0;
}
.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}
#profile_img {
  width: 70px;
  height: 70px;
  margin: 64px 0px 0px 0px;
}
#profile_img:hover {
  background: linear-gradient(
    0deg,
    rgba(52, 64, 84, 0.75),
    rgba(52, 64, 84, 0.75)
  );
}
#twitter {
  text-decoration: none;
  color: #101828;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.twit {
  line-height: 40px;
}
.profile_img2 {
  position: absolute;
  top: 20%;
  right: 30%;
}
.profile_img3 {
  position: absolute;
  top: 20%;
  right: 30%;
}
@media (max-width: 1070px) {
  .profile_img3 {
    display: none;
  }
}
@media (max-width: 970px) {
  .profile_img2 {
    display: none;
  }
  .profile_img3 {
    display: flex;
    position: absolute;
    top: 20%;
    right: 10%;
  }
}
